#head_left{
	background-color: #99ccff;
	padding:  4px 0 0 0; 
	width: 50%;
	height: 40px;
	float: left;
	border-top-left-radius: 4px
}

#head_right{
	position: relative;
	background-color: #ffff66;
	padding: 4px 0 0 0;
	width: 50%;
	height: 40px;
	float: left;
	border-top-right-radius: 4px
}